{% extends "web/base.html" %}

{% load static %}

{% block content %}
   <!-- Faq Section Start -->
            <div class="rs-faq-part style1 pt-100 pb-100 md-pt-70 md-pb-70">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-6 padding-0 col-md-12 md-mb-40">
                          <div class="img-part js-tilt">
                              <img src="{% static 'web/images/register.png' %}" alt="">
                      </div> 
                      </div>

                      <div class="col-lg-6 padding-0 col-md-12">
                          <div class="rs-free-contact">
                              <div class="sec-title3">
                                  <h2 class="title white-color">Register JOIN Events</h2>
                              </div>
                                  <form id="contactForm" method="post" action="" enctype="multipart/form-data" class="form contact">
                                    {% csrf_token %}

                                      <div class="row">
                                          <div class="col-lg-6 mb-30 col-md-12">
                                            {{form.name}}
                                          </div> 
                                          <div class="col-lg-6 mb-30 col-md-12">
                                            {{form.email}}
                                          </div>   
                                          <div class="col-lg-6 mb-30 col-md-12">
                                            {{form.phone}}
                                          </div>   
                                          <div class="col-lg-6 mb-30 col-md-12">
                                            {{form.subject}}
                                          </div>
                                       
                                          <div class="col-lg-12 mb-35">
                                            {{form.message}}
                                          </div>
                                      </div>
                                      <div class="form-btn">
                                          <!--<input class="submit" type="submit" value="send message">-->
                                          
                                          <button  class=" readon submit-requset" type="submit">Register</button>
                                      </div>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- faq Section Start -->
          			<!-- About Section Start -->
			<div class="rs-about style1 pt-100 pb-100 md-pt-70 md-pb-70">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-6 padding-0 md-pl-15 md-pr-15 md-mb-30">
							<div class="img-part">
								<img class="" src="{% static 'web/images/about1.jpg' %}" alt="About Image">
							</div>
                            <ul class="nav nav-tabs histort-part" id="myTab" role="tablist">
                                <li class="nav-item tab-btns single-history">
                                    <a class="nav-link tab-btn active" id="about-history-tab" data-toggle="tab" href="#about-history" role="tab" aria-controls="about-history" aria-selected="true"><span class="icon-part"><i class="flaticon-banknote"></i></span>History</a>
                                </li>
                                <li class="nav-item tab-btns single-history">
                                    <a class="nav-link tab-btn" id="about-mission-tab" data-toggle="tab" href="#about-mission" role="tab" aria-controls="about-mission" aria-selected="false"><span class="icon-part"><i class="flaticon-flower"></i></span>Mission & Vission</a>
                                </li>
                                <li class="nav-item tab-btns single-history last-item">
                                    <a class="nav-link tab-btn" id="about-admin-tab" data-toggle="tab" href="#about-admin" role="tab" aria-controls="about-admin" aria-selected="false"><span class="icon-part"><i class="flaticon-analysis"></i></span>Administration</a>
                                </li>
                            </ul>
						</div>
						<div class="offset-lg-1"></div>
						<div class="col-lg-5">
							<div class="tab-content tabs-content" id="myTabContent">
                                <div class="tab-pane tab fade show active" id="about-history" role="tabpanel" aria-labelledby="about-history-tab">
                                    <div class="sec-title mb-25">
                                        <h2 class="title">LearnifyHub History</h2>
                                        <div class="desc">As technology advanced, LearnifyHub expanded its curriculum to include specialized courses in cybersecurity, data science, artificial intelligence, cloud computing, DevOps, and machine learning. </div>
                                    </div>
                                    <div class="tab-img">
                                        <img class="" src="{% static 'web/images/about2.jpg' %}" alt="Tab Image">
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="about-mission" role="tabpanel" aria-labelledby="about-mission-tab">
                                    <div class="sec-title mb-25">
                                        <h2 class="title">LearnifyHub Mission</h2>
                                        <div class="desc">Our mission is to make learning accessible, engaging, and effective for everyone. We believe that education is the cornerstone of personal and societal growth.</div>
                                    </div>
                                    <div class="tab-img">
                                        <img class="" src="{% static 'web/images/about3.jpg' %}" alt="Tab Image">
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="about-admin" role="tabpanel" aria-labelledby="about-admin-tab">
                                    <div class="sec-title mb-25">
                                        <h2 class="title">LearnifyHub Administration</h2>
                                        <div class="desc">Managing student enrollment, registration processes, and providing access to courses.Handling payment transactions, billing cycles, and financial operations related to course fees.	</div>
                                    </div>
                                    <div class="tab-img">
                                        <img class="" src="{% static 'web/images/about4.jpg' %}" alt="Tab Image">
                                    </div>
                                </div>
                            </div>
						</div>
					</div>
                    <!-- Intro Info Tabs-->
                    <div class="intro-info-tabs">
                        
                    </div>
				</div>
			</div>
			<!-- About Section End -->  
{% endblock %}