{% load static %}        
        
        <!-- Footer Start -->
        <footer id="rs-footer" class="rs-footer home9-style home12-style">
          <div class="footer-top">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-3 col-md-12 col-sm-12 footer-widget md-mb-50">
                          <div class="footer-logo mb-30">
                              <a href="index.html"><h2>LearnifyHub</h2></a>
                          </div>
                            <div class="textwidget pr-60 md-pr-15"><p>Unlock your potential with LearnifyHub: Comprehensive, on-demand courses for learning.</p>
                            </div>
                            <ul class="footer_social">  
                                <li> 
                                    <a href="#" target="_blank"><span><i class="fa fa-facebook"></i></span></a> 
                                </li>
                                <li> 
                                    <a href="# " target="_blank"><span><i class="fa fa-twitter"></i></span></a> 
                                </li>

                                <li> 
                                    <a href="# " target="_blank"><span><i class="fa fa-pinterest-p"></i></span></a> 
                                </li>
                                <li> 
                                    <a href="# " target="_blank"><span><i class="fa fa-google-plus-square"></i></span></a> 
                                </li>
                                <li> 
                                    <a href="# " target="_blank"><span><i class="fa fa-instagram"></i></span></a> 
                                </li>
                                                                         
                            </ul>
                      </div>
                      <div class="col-lg-3 col-md-12 col-sm-12 footer-widget md-mb-50">
                          <h3 class="widget-title">Address</h3>
                          <ul class="address-widget">
                              <li>
                                  <i class="flaticon-location"></i>
                                  <div class="desc">000 LearnifyHub x 09876, Kerala, India</div>
                              </li>
                              <li>
                                  <i class="flaticon-call"></i>
                                  <div class="desc">
                                     <a href="tel:(+880)155-69569">+(123) 456 789</a>
                                  </div>
                              </li>
                              <li>
                                  <i class="flaticon-email"></i>
                                  <div class="desc">
                                      <a href="mailto:support@learnifyhub.com">support@learnifyhub.com</a>
                                  </div>
                              </li>
                          </ul>
                      </div>
                      <div class="col-lg-3 col-md-12 col-sm-12 pl-50 md-pl-15 footer-widget md-mb-50">
                          <h3 class="widget-title">Courses</h3>
                          <ul class="site-map">
                              <li><a href="{% url 'web:course' %}">Web Development</a></li>
                              <li><a href="{% url 'web:course' %}">Flutter</a></li>
                              <li><a href="{% url 'web:course' %}">Digital Marketing</a></li>
                              <li><a href="{% url 'web:course' %}">Ethical Hacking</a></li>
                              <li><a href="{% url 'web:course' %}">Data Science</a></li>
                          </ul>
                      </div>
                      <div class="col-lg-3 col-md-12 col-sm-12 footer-widget">
                          <h3 class="widget-title">Recent Posts</h3>
                          <div class="recent-post mb-20">
                              <div class="post-img">
                                  <img src="{% static 'web/images/j.png' %}" alt="">
                              </div>
                              <div class="post-item">
                                  <div class="post-desc">
                                      <a href="#">LearnifyHub team work</a>
                                  </div>
                                  <span class="post-date">
                                      <i class="fa fa-calendar"></i>
                                      Dec 20, 2023
                                  </span>
                              </div>
                          </div> 
                          
                      </div>
                  </div>
              </div>
          </div>
          <div class="footer-bottom">
              <div class="container">                    
                  <div class="row y-middle">
                      <div class="col-lg-6 md-mb-20">
                          <div class="copyright">
                              <p>&copy; 2023 All Rights Reserved. Developed By <a href="#0" target="_blank">SadhikAli</a></p>
                          </div>
                      </div>
                      <div class="col-lg-6 text-right md-text-left">
                          <ul class="copy-right-menu">
                              <li><a href="{% url 'web:event_register' %}">Event</a></li>
                              <li><a href="{% url 'web:about' %}">About</a></li>
                              <li><a href="{% url 'web:contact' %}">Contact</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </footer>
      <!-- Footer End -->