{% load static %}

     <!--Full width header Start-->
        <div class="full-width-header header-style1 home1-modifiy home12-modifiy">
          <!--Header Start-->
          <header id="rs-header" class="rs-header">
              <!-- Menu Start -->
              <div class="menu-area menu-sticky">
                  <div class="container">
                      <div class="row y-middle">
                          <div class="col-lg-2">
                            <div class="logo-cat-wrap">
                                <div class="logo-part">
                                    <a href="index.html" >
                                        <h4 class="LearnifyHub">LearnifyHub</h4> 
                                    </a>
                                </div>
                            </div>
                          </div>
                          <div class="col-lg-8 text-right">
                              <div class="rs-menu-area">
                                  <div class="main-menu">
                                    <div class="mobile-menu">
                                        <a class="rs-menu-toggle">
                                            <i class="fa fa-bars"></i>
                                        </a>
                                    </div>
                                    <nav class="rs-menu">
                                       <ul class="nav-menu">
                                          <li> 
                                            <a href="{% url "web:index" %}">Home</a>
                                        </li>
                                           <li>
                                               <a href="{% url 'web:about' %}">About</a>
                                           </li>

                                           <li  >
                                               <a href="{% url "web:course" %}">Courses</a>
                                           </li>

                                           <li>
                                               <a href="{% url 'web:event_register' %}">Register</a>
                                           </li>

                                           <li>
                                            <a href="#">Update</a>
                                           </li>

                                           <li>
                                               <a href="{% url 'web:contact' %}">Contact</a>
                                           </li>
                                       </ul> <!-- //.nav-menu -->
                                    </nav>                                         
                                  </div> <!-- //.main-menu -->                                
                              </div>
                          </div>
                          <div class="col-lg-2 text-right">
                              <div class="expand-btn-inner">
                                  <ul>
                                      <li>
                                          <a class="hidden-xs rs-search" data-target=".search-modal" data-toggle="modal" href="#">
                                              <i class="flaticon-search"></i>
                                          </a>
                                      </li>
                                    
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- Menu End --> 

              <!-- Canvas Menu start -->
              <nav class="right_menu_togle hidden-md">
                  <div class="close-btn">
                      <div id="nav-close">
                          <div class="line">
                              <span class="line1"></span><span class="line2"></span>
                          </div>
                      </div>
                  </div>
                  <div class="canvas-logo">
                      <a href="index.html"><img src="{% static 'web/images/logo-dark.png' %}" alt="logo"></a>
                  </div>
                  <div class="offcanvas-text">
                      <p>We denounce with righteous indige nationality and dislike men who are so beguiled and demo  by the charms of pleasure of the moment data com so blinded by desire.</p>
                  </div>
                  <div class="offcanvas-gallery">
                      <div class="gallery-img">
                          <a class="image-popup" href="assets/images/gallery/1.jpg' %}"><img src="{% static 'web/images/gallery/1.jpg' %}" alt=""></a>
                      </div>
                      <div class="gallery-img">
                          <a class="image-popup" href="assets/images/gallery/2.jpg' %}"><img src="{% static 'web/images/gallery/2.jpg' %}" alt=""></a>
                      </div>
                      <div class="gallery-img">
                          <a class="image-popup" href="assets/images/gallery/3.jpg' %}"><img src="{% static 'web/images/gallery/3.jpg' %}" alt=""></a>
                      </div>
                      <div class="gallery-img">
                          <a class="image-popup" href="assets/images/gallery/4.jpg' %}"><img src="{% static 'web/images/gallery/4.jpg' %}" alt=""></a>
                      </div>
                      <div class="gallery-img">
                          <a class="image-popup" href="assets/images/gallery/5.jpg' %}"><img src="{% static 'web/images/gallery/5.jpg' %}" alt=""></a>
                      </div>
                      <div class="gallery-img">
                          <a class="image-popup" href="assets/images/gallery/6.jpg' %}"><img src="{% static 'web/images/gallery/6.jpg' %}" alt=""></a>
                      </div>
                  </div>
                  <div class="map-img">
                      <img src="{% static 'web/images/map.jpg' %}" alt="">
                  </div>
                  <div class="canvas-contact">
                      <ul class="social">
                          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                          <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      </ul>
                  </div>
              </nav>
              <!-- Canvas Menu end -->
          </header>
          <!--Header End-->
      </div>
      <!--Full width header End-->